$color-black: #3c3c3b;
$color-purple: rgb(146, 35, 139);
$color-blue: #6891D8;
$color-blue-lighten: #7DA1DF;
$color-orange: #FCC577;
$color-gray: #414042;
$color-red: #C9302C;
$color-light: rgb(204, 204, 204);
$color-snow: rgb(249, 249, 249);
$color-border: rgb(216, 216, 216);

$font-primary: 'Roboto', sans-serif;


.color-black {
    color: $color-black;
}

.color-purple {
    color: $color-purple;
}

.color-gray {
    color: $color-gray;
}

.color-white {
    color: #fff;
}

.color-light {
    color: $color-light;
}

.orange-light {
    color: #FFE4C6;
}

.bg-white {
    background-color: #fff;
}

.hidden {
    display: none !important;
}

.bg-orange {
    background: $color-orange;
}

.bg-blue {
    background: $color-blue;
}

.bg-blue-light {
    background: $color-blue-lighten;
}

.font-weight-medium {
    font-weight: 500;
}


h1, h2, h3, h4, h5, h6 {
    font-family: $font-primary;
}


h1, .h1 {
    font-size: 36px;
    @media (max-width: 767px) {
        font-size: 28px;
    }
}

h2, .h2 {
    font-size: 30px;
}

h3, .h3 {
    font-size: 28px;
    @media (max-width: 767px) {
        font-size: 18px;
    }
}

.mt-30 {
    margin-top: 30px;
}

.mt-60 {
    margin-top: 60px;
    @media (max-width: 767px) {
        margin-top: 35px;
    }
}

.mb-60 {
    margin-bottom: 60px;
    @media (max-width: 767px) {
        margin-bottom: 35px;
    }
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-25 {
    margin-bottom: 25px;
}


small {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
}

strong {
    font-weight: 700;
}

.container {
    @media (min-width: 1200px) {
        max-width: 1320px;
    }
}


body {
    font-size: 16px;
    font-family: $font-primary;
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;

    .container__rwd {
        @media (max-width: 767px) {
            padding: 0 !important;
        }
    }
}


.navbar-brand {
    margin-bottom: 70px;
    @media (max-width: 991px) {
        //margin: 0 auto;
        margin-bottom: 0;
        img {
            max-width: 102px;
        }
    }
}

.navbar {
    min-height: 97px;
    color: $color-gray;
    line-height: 1;


    &__text {
        padding-left: 30px;
    }

    .no-arrow {
        &:after {
            display: none;
        }
    }
}

.breadcrumbs {
    //padding-top: 10px;
    a {
        font-weight: 400;
        color: $color-purple;
        text-decoration: underline;
    }

    a.active {
        color: $color-gray;
        text-decoration: none;
    }
}

.btn {
    &__errors {
        min-height: 100px;
        width: 248px;
        background: url("../img/devices.png") center center;
        margin: 0 auto;
        color: transparent;
        display: flex;

        &:hover {
            color: transparent;
        }
    }
}

aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;
    min-height: 100vh;
    max-width: 260px;
    width: 100%;
    background: $color-gray;
    padding-left: 15px;
    padding-top: 20px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    a {
        font-size: 12px;
        color: #fff;
    }

    @media (max-width: 767px) {
        display: none;
    }
}


aside.collapsed{
    max-width: 70px;
    .nav-item__title{
        display: none;
    }
    .arrow-down{
        display: none;
    }
}

.menu {
    padding-left: 10px;
    padding-top: 8px;

    .nav-item.collapsed {
        .arrow-down {
            transform: rotate(0deg);
            transition: all 0.2s ease-in;
        }
    }

    .nav-item .arrow-down {
        transform: rotate(-180deg);
        transition: all 0.2s ease-in;
    }

    .nav-item.has-submenu {
        color: #fff;
        font-weight: 400;
    }

    .nav-item.has-submenu.collapsed {
        color: $color-light;
        font-weight: 300;
    }

    li {
        margin-bottom: 40px;

        > div {
            padding-left: 34px;
            padding-top: 22px;
            margin-bottom: -20px;

            li {
                margin-bottom: 8px;
            }
        }

        a {
            font-size: 16px;
            color: $color-light;
            font-weight: 300;

            &:hover {
                color: #fff;
                text-decoration: none;
                font-weight: 400;
            }
        }
    }

    .nav-link {
        padding: 0;
    }
}

#content-wrapper {
    background: $color-snow;
}


.panel {
    &__right {
        max-width: 404px;
        background: #fff;
        padding-left: 45px;
        color: $color-gray;

        .alert__icon {
            position: absolute;
            left: -12px;
        }
    }

    &__single-info {
        font-size: 16px;
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 35px;
        margin-bottom: 23px;

    }

    &__wrapper-inner {
        border-left: 1px solid $color-border;
        //padding-left: 40px;
    }

    .alert {
        position: absolute;
        left: -12px;
    }

    &__title {
        padding-left: 35px;
    }

    &__time {
        padding-right: 10px;
        border-right: 1px solid $color-border;
        margin-right: 8px;
        min-width: 52px;
        padding-top: 22px;

        &:first-of-type {
            padding-top: 0;
        }
    }

}

.alert-radius {
    height: 25px;
    width: 25px;
    color: #fff;
    background: $color-red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    //margin-left: auto;
    font-size: 14px;
    font-weight: 400;
}

.alert__icon {
    height: 25px;
    width: 25px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    //margin-left: auto;
    font-size: 14px;
    font-weight: 400;

    &--red {
        background: $color-red;
    }

    &--orange {
        background: $color-orange;
    }
}

.rotate-90 {
    transform: rotate(90deg);
}

#navb {
    background: #000;
    @media (max-width: 991px) {
        position: absolute;

        top: 97px;

        left: 0;

        right: 0;

        z-index: 2;
        .menu .nav-link {
            justify-content: center;
            width: 100%;
            display: inline-block;
        }
        .nav-item {
            justify-content: center;
            padding-left: 0;
            padding-right: 0;
        }

        .menu li > div {
            padding-left: 0;

            li {
                margin-bottom: 20px;
            }
        }
    }
}