.color-black {
  color: #3c3c3b; }

.color-purple {
  color: #92238b; }

.color-gray {
  color: #414042; }

.color-white {
  color: #fff; }

.color-light {
  color: #cccccc; }

.orange-light {
  color: #FFE4C6; }

.bg-white {
  background-color: #fff; }

.hidden {
  display: none !important; }

.bg-orange {
  background: #FCC577; }

.bg-blue {
  background: #6891D8; }

.bg-blue-light {
  background: #7DA1DF; }

.font-weight-medium {
  font-weight: 500; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif; }

h1, .h1 {
  font-size: 36px; }
@media (max-width: 767px) {
  h1, .h1 {
    font-size: 28px; } }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 28px; }
@media (max-width: 767px) {
  h3, .h3 {
    font-size: 18px; } }

.mt-30 {
  margin-top: 30px; }

.mt-60 {
  margin-top: 60px; }
@media (max-width: 767px) {
  .mt-60 {
    margin-top: 35px; } }

.mb-60 {
  margin-bottom: 60px; }
@media (max-width: 767px) {
  .mb-60 {
    margin-bottom: 35px; } }

.mb-40 {
  margin-bottom: 40px; }

.mb-25 {
  margin-bottom: 25px; }

small {
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6); }

strong {
  font-weight: 700; }

@media (min-width: 1200px) {
  .container {
    max-width: 1320px; } }

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden; }
@media (max-width: 767px) {
  body .container__rwd {
    padding: 0 !important; } }

.navbar-brand {
  margin-bottom: 70px; }
@media (max-width: 991px) {
  .navbar-brand {
    margin-bottom: 0; }
  .navbar-brand img {
    max-width: 102px; } }

.navbar {
  min-height: 97px;
  color: #414042;
  line-height: 1; }
.navbar__text {
  padding-left: 30px; }
.navbar .no-arrow:after {
  display: none; }

.breadcrumbs a {
  font-weight: 400;
  color: #92238b;
  text-decoration: underline; }
.breadcrumbs a.active {
  color: #414042;
  text-decoration: none; }

.btn__errors {
  min-height: 100px;
  width: 248px;
  background: url("../img/devices.png") center center;
  margin: 0 auto;
  color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.btn__errors:hover {
  color: transparent; }

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 0;
  list-style: none;
  min-height: 100vh;
  max-width: 260px;
  width: 100%;
  background: #414042;
  padding-left: 15px;
  padding-top: 20px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
aside a {
  font-size: 12px;
  color: #fff; }
@media (max-width: 767px) {
  aside {
    display: none; } }

aside.collapsed {
  max-width: 70px; }
aside.collapsed .nav-item__title {
  display: none; }
aside.collapsed .arrow-down {
  display: none; }

.menu {
  padding-left: 10px;
  padding-top: 8px; }
.menu .nav-item.collapsed .arrow-down {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
.menu .nav-item .arrow-down {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
.menu .nav-item.has-submenu {
  color: #fff;
  font-weight: 400; }
.menu .nav-item.has-submenu.collapsed {
  color: #cccccc;
  font-weight: 300; }
.menu li {
  margin-bottom: 40px; }
.menu li > div {
  padding-left: 34px;
  padding-top: 22px;
  margin-bottom: -20px; }
.menu li > div li {
  margin-bottom: 8px; }
.menu li a {
  font-size: 16px;
  color: #cccccc;
  font-weight: 300; }
.menu li a:hover {
  color: #fff;
  text-decoration: none;
  font-weight: 400; }
.menu .nav-link {
  padding: 0; }

#content-wrapper {
  background: #f9f9f9; }

.panel__right {
  max-width: 404px;
  background: #fff;
  padding-left: 45px;
  color: #414042; }
.panel__right .alert__icon {
  position: absolute;
  left: -12px; }
.panel__single-info {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 23px; }
.panel__wrapper-inner {
  border-left: 1px solid #d8d8d8; }
.panel .alert {
  position: absolute;
  left: -12px; }
.panel__title {
  padding-left: 35px; }
.panel__time {
  padding-right: 10px;
  border-right: 1px solid #d8d8d8;
  margin-right: 8px;
  min-width: 52px;
  padding-top: 22px; }
.panel__time:first-of-type {
  padding-top: 0; }

.alert-radius {
  height: 25px;
  width: 25px;
  color: #fff;
  background: #C9302C;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400; }

.alert__icon {
  height: 25px;
  width: 25px;
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400; }
.alert__icon--red {
  background: #C9302C; }
.alert__icon--orange {
  background: #FCC577; }

.rotate-90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

#navb {
  background: #000; }
@media (max-width: 991px) {
  #navb {
    position: absolute;
    top: 97px;
    left: 0;
    right: 0;
    z-index: 2; }
  #navb .menu .nav-link {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    display: inline-block; }
  #navb .nav-item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0; }
  #navb .menu li > div {
    padding-left: 0; }
  #navb .menu li > div li {
    margin-bottom: 20px; } }
